{{#section 'title'}}
    REGISTRO
{{/section}}

<main class="my-3">
    <div class="card border-0 shadow-box m-auto" style="max-width: 500px; min-width: 300px;">
        <div class="card-body">
            <h4 class="card-title text-center">Registrarse</h4>
            <form class="form-horizontal pt-3">
                <div class="mb-3 row">
                    <label for="name" class="col-sm-3 control-label">Nombre*</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fa-solid fa-user"></i>
                            </span>
                            <input type="text" class="form-control" name="name" id="name" placeholder="Nombre" required/>
                        </div>
                        <div id="nameError" class="invalid-feedback">Campo requerido</div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="lastname" class="col-sm-3 control-label">Apellidos*</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fa-solid fa-user"></i>
                            </span>
                            <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Apellidos" required/>
                        </div>
                        <div id="lastnameError" class="invalid-feedback">Campo requerido</div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="email" class="col-sm-3 control-label">Email*</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fa-solid fa-envelope"></i>
                            </span>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Ingresar email" required/>
                        </div>
                        <div id="emailError" class="invalid-feedback">Campo requerido</div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="password" class="col-sm-3 control-label">Password*</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fa-solid fa-lock"></i>
                            </span>
                            <input type="password" class="form-control" name="password" id="password"
                                placeholder="Ingrese contraseña" autocomplete="off" required/>
                        </div>
                        <div id="passwordError" class="invalid-feedback"></div>
                        <small id="passwordHelp" class="form-text text-muted">Minimo 6 caracteres.</small>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="confPassword" class="col-sm-3 control-label">Confirmar Password*</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fa-solid fa-lock"></i>
                            </span>
                            <input type="password" class="form-control" name="confPassword" id="confPassword"
                                placeholder="Confirmar contraseña" autocomplete="off" required/>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row mb-0">
                    <div class="offset-sm-4 col-sm-9">
                        <button type="submit" id="btnRegister" class="btn btn-outline-primary rounded-pill px-4 waves-effect waves-light" disabled>
                            <i data-feather="log-in" class="fill-white feather-sm me-2"></i>
                            Registrarse
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

{{#section 'script'}}
    <script src="../js/register.js"></script>
{{/section}}